*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    width: 100%;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
}
li{
    display: inline-block;
}
header{
    background-image: url(/homework/img/apples.jpg);
    min-height: 734px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    color: white;
    padding: 40px 50px;
}
header h4{
    letter-spacing: 3px;
    font-weight: 500;
}
header ul{
    display: flex;
    gap: 60px;
}
header a{
    text-decoration: none;
    color: white;
}
.top_line{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.mid_line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mid_line h1{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.mid_line span{
    font-size: 100px;
    font-weight: 400;
}
.mid_line p{
    font-size: 14px;
    padding-bottom: 200px;
}
.mid_line button{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 14px 80px;
    border: 3px solid white;
}
.scarf{
    background-color: white;
    min-height: 347px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 45px;
    gap: 100px;
}
.scarf h2{
    width: 50%;
    font-weight: 400;
    font-size: 18px;
}
.scarf p{
    width: 50%;
    font-size: 12px;
}
.scarf b{
    font-weight: 600;
}
main{
    background-color: #F3F3F3;
}